<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>Guess the Number</title>
  </head>
  <body>
    <h2>Guess a number between 1 and 10:</h2>
    <form id= "guess" action="/" method="post">
      <input type="text" name="guess" value="your guess goes here">
    </form>
    <form id="play again" action="/" method="get">
      <input type='submit' id= "replay" value="Play Again!">
    </form>
    <script src="/assets/javascripts/jquery-1.11.0.js" type="text/javascript"></script>
    <script src="/assets/javascripts/guess_the_number.js" type="text/javascript"></script>
  </body>
</html>
